<!--comments index-->
<div class="comment">
    <table class="table col-8">
        <tbody>
            <% comments.each do |comment| %>
                <tr id="comment_<%= comment.id %>">
                    <td>
                        <a href="<%= admin_user_path(comment.user) %>" class="text-body font-weight-bold">
                            <!--<%#= image_tag comment.user.get_profile_image(100, 100) %><br>-->
                            <%= comment.user.name %>
                        </a>
                    </td>
                    <td>
                        <%= simple_format(comment.content) %>
                    </td>
                    <td>
                        <%= render 'public/comments/modal' comment: comment %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
