<!--comments index-->
<div class="comment">
    <table class="table col-12">
        <tbody>
            <% comments.each do |comment| %>
                <tr id="comment_<%= comment.id %>">
                    <td>
                        <a href="<%= user_path(comment.user) %>" class="text-body font-weight-bold">
                            <!--<%#= image_tag comment.user.get_profile_image(100, 100) %><br>-->
                            <%= comment.user.name %>
                        </a>
                    </td>
                    <td>
                        <%= simple_format(comment.content) %>
                    </td>
                    <td class="col-2">
                      <small class="text-muted"><%= comment.created_at.strftime("%Y/%m/%d") %></small>
                    </td>
                    <!--削除ボタン-->
                    <td class="col-1">
                      <% if comment.user == current_user || admin_signed_in?%>
                        <%= render 'public/comments/modal', comment: comment %>
                      <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <!--非同期通信投稿エラー発生時のエラー表示-->
    <div id="comments-error">
    </div>
    <!--comment form-->
    <% if user_signed_in? %>
      <div class="row mt-3">
          <%= form_with model: comment_new, url: episode_comments_path(episode), local: false, class: "col-10" do |f| %>
              <div class="d-flex col-12 mb-4">
                  <%= f.text_area :content, class:"form-control" %>
              </div>
              <div class="d-flex justify-content-end col-12 mr-0">
                  <%= f.submit "投稿", class:"btn btn-sm btn-outline-secondary" %>
              </div>
          <% end %>
      </div>
    <% end %>
</div>
