<div class="col-3 shadow-sm rounded my-3 mr-3 d-inline-block">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= image_tag user.get_profile_image(100, 100), class: 'rounded-circle img-fluid img-thumbnail' %><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="name col">
        <%= user.name %><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="username col">
        @<%= user.username %><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="introduction col">
        <%= user.introduction %><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <%= link_to user_following_path(user.id) do %>
          <%= user.following.count %> フォロー
        <% end %>
        <br>
        <%= link_to user_followers_path(user.id) do %>
          <%= user.followers.count %> フォロワー
        <% end %>
      </div>
    </div>
    <!--フォローボタン-->
    <div class="row">
      <div class="follow-btn my-3 d-flex justify-content-center col" id="follow-btn-<%= user.id %>">
        <%= render "/public/relationships/follow_btn", user: user %>
      </div>
    </div>
  </div>
</div>