<div class="container col-11">
  <h1 class="h4">"<%= @query %>"の検索結果</h1>
  <!--ユーザーの表示-->
  <% if @users.exists? %>
    <h2 class="h4 mt-5">ユーザー</h2>
    <div class="search-user d-flex flex-wrap">
      <%= render 'user', users: @users %>
    </div>
    <!--検索結果数に応じて"もっとみる"を表示-->
    <div class="row justify-content-center">
      <% unless @users.last_page? %>
        <%= link_to_next_page @users, "もっとみる", remote: true,
        class: 'text-body stretched-link col-4 col-lg-2 text-center border rounded-pill p-2', params: { type: :user }, :param_name => 'user_page', id: 'another-user' %>
      <% end %>
    </div>

  <% end %>
  <!--エピソードの表示-->
  <% if @episodes.exists? %>
    <h2 class="h4 mt-5">エピソード</h2>
    <div class="d-flex flex-row flex-wrap" id = "search-episode">
      <%= render 'episode', episodes: @episodes %>
    </div>
    <!--検索結果数に応じて"もっとみる"を表示-->
    <div class="row justify-content-center">
      <% unless @episodes.last_page? %>
        <%= link_to_next_page @episodes, 'もっとみる', remote: true, params: { type: :episode }, :param_name => 'episode_page',
        class: 'another-episode text-body stretched-link col-4 col-lg-2 text-center border rounded-pill p-2' %>
      <% end %>
    </div>
  <% end %>
  <!--検索結果なし-->
  <% if @users.empty? && @episodes.empty? %>
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
      <p class="h4">該当するものはありませんでした。</p>
    </div>
  <% end %>
</div>