<div class="container">
  <h1 class="h4 text-center mb-5">カテゴリー一覧・追加</h1>
  <%= render 'layouts/error_messages', resource: @category %>
  <div class="row justify-content-center mb-5">
    <%= render 'form', category: @category %>
  </div>

    <div class="row justify-content-center">
      <div class="col-8 mt-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="bg-light col-1">ID</th>
              <th class="bg-light col-3">親カテゴリ</th>
              <th class="bg-light col-3">カテゴリ名</th>
              <th class="bg-light col-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.id %></td>
                <td><%= Category.parents_i18n[category.parent] %></td>
                <td><%= category.name %></td>
                <td>
                  <%= link_to '編集', edit_admin_category_path(category), class: 'btn btn-success px-3' %>
                  <%= link_to '削除', admin_category_path(category), method: :delete, class: 'btn btn-danger px-3' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

