<div class="container px-0">
  <div class="px-1 ml-md-2">
    <h1 class="h4 text-center mx-auto mb-4">エピソード一覧</h1>
  </div>
  <div class="row justify-content-center">
    <table class="table table-hover table-bordered col-md-12 mx-1">
      <thead>
        <tr>
          <td class="bg-light">エピソードID</td>
          <td class="bg-light">名前</td>
          <td class="bg-light">タイトル</td>
          <td class="bg-light d-none d-md-block">公開設定</td>
        </tr>
      </thead>
      <tbody>
        <% @episodes.each do |episode| %>
        <tr>
          <td><%= episode.id %></td>
          <td><%= link_to episode.user.name, admin_user_path(episode.user), class: "text-body" %></td>
          <td><u><%= link_to episode.title, admin_episode_path(episode), class: "text-body text-truncate font-weight-bold" %></u></td>
          <td class="d-none d-md-block"><%= Episode.visibilities_i18n[episode.visibility] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <div>
      <%= paginate @episodes %>
    </div>

  </div>
</div>