<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1><%= @episode.title %></h1>
    </div>
  </div>
  <!--カテゴリ表示-->
  <div class="row my-2">
    <% @categories.each do |category| %>
      <div class="col">
        <div>
          <span class="bg-light rounded p-2"><%= category.name %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mb-5 justify-content-start">
    <div class="col-2">
      エピソードID: <%= @episode.id %>
    </div>
    <div class="col-3">
      公開ステータス: <%= Episode.visibilities_i18n[@episode.visibility] %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <p><%= simple_format(@episode.content) %></p>
    </div>
  </div>
  <div class="row justify-content-end">
    <%= link_to "編集する", edit_admin_episode_path(@episode), class: "btn btn-success btn-sm mr-2 mr-lg-5 px-4" %>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= render "public/comments/comments_area", comments: @comments, episode: @episode %>
    </div>
  </div>
</div>