<div class="col-12 col-sm-4 col-md-3 shadow-sm rounded my-3 mr-3" style="width: 100px;">
    <div class="row">
      <div class="col d-flex justify-content-center my-3">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image(100, 100), class: 'rounded-circle img-thumbnail' %><br>
        <% end %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="name col">
        <%= link_to user.name, user_path(user), class: "text-body font-weight-bold" %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="username col text-muted">
        @<%= link_to user.username, user_path(user), class: "text-muted" %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="user_introduction col">
        <small><%= simple_format(user.introduction) %></small><br>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <!--フォロイーカウント-->
        <div class="ml-3 mt-1">
          <div id="following-count-<%= user.id %>">
            <%= render 'public/relationships/following_count', user: user %>
          </div>
        </div>
        <!--フォロワーカウント-->
        <div class="ml-3 mt-1">
          <div id="followers-count-<%= user.id %>">
            <%= render 'public/relationships/followers_count', user: user %>
          </div>
        </div>
      </div>
    </div>
    <!--フォローボタン-->
    <div class="row">
      <div class="follow-btn my-3 d-flex justify-content-center col" id="follow-btn-<%= user.id %>">
        <%= render "/public/relationships/follow_btn", user: user %>
      </div>
    </div>
</div>