<div class="container d-flex flex-column justify-content-center align-items-center col-12">
  <div class="row">
    <h2 class="col">ユーザー情報編集</h2>
  </div>
  <div class="row">
    <div class="col">
      <%= render "public/shared/error_messages", resource: @user %>
    </div>
  </div>
  <%= form_with model: @user, class: "row col-12" do |f| %>
    <div class="col">
      <div class="container d-flex flex-column justify-content-center ">

        <div class="form-group row mb-3">
          <%= f.label :image, "プロフィール画像", class: "col-2 form-label col-6" %>
          <div class="col form-row">
            <div class="col d-flex align-items-center">
                <%= f.file_field :image, accept: "image/*" , class: "form-control-file" %>
                <%= image_tag @user.get_profile_image(100, 100), class: 'rounded-circle img-fluid' if @user.image.attached? %>
            </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <%= f.label :name, "名前", class: "col-2 form-label col-6" %>
          <%= f.text_field :name, autocomplete: "名前", class: "col-4 col form-control" %>
        </div>

        <div class="form-group row mb-3">
          <%= f.label :username, "ユーザー名", class: "col-2 form-label col-6" %>
          <%= f.text_field :username, autocomplete: "ユーザーネーム", class: "col-4 form-control" %>
        </div>

        <div class="form-group row mb-3">
          <%= f.label :birthdate, "生年月日", class: "col-2 form-label col-6" %>
          <%= f.date_select :birthdate, use_month_numbers: true, class: "col-4 form-select" %>
        </div>
        <div class="form-group row mb-3">
          <%= f.label :email, "メールアドレス", class: "col-2 form-label col-6" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control col-4 " %>
        </div>
        <div class="form-group row mb-3">
          <%= f.label :introduction, "プロフィール", class: "col-2 form-label col-6" %>
          <%= f.text_area :introduction, class: "form-control col-4 " %>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-3">
            <%= f.submit "更新", class: "btn btn-primary" %>
            <%= link_to check_user_path, class: "btn btn-danger" do %>
            退会
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>