<div class="container">
  <div class="d-flex flex-lg-row flex-column my-3 shadow-sm rounded">
    <!--左ブロック-->
      <div class="col-lg-2">
        <div class="d-none d-lg-block">
           <%= image_tag user.get_profile_image(150, 150), class: 'rounded-circle img-fluid img-thumbnail mx-2 my-2' %>
        </div>
      </div>
    <!--真ん中ブロック-->
    <div class="col-lg-8 mt-2">
      <!--ユーザー情報段-->
      <div class="row">
        <div class="col">
          <%= link_to user.name, user_path(episode.user), class: "underline text-body" %>
          <small class="text-muted">@<%= link_to user.username, user_path(episode.user), class: "text-muted" %></small>
        </div>
      </div>
      <!--エピソード情報段-->
      <div>
        <div class="row mt-2">
          <div class="col">
            <!--<%#= link_to episode.category.name, category_path(episode.category) %>-->
            <%= link_to episode.title, episode_path(episode), class: "text-body font-weight-bold" %>
          </div>
        </div>
        <div class="row">
          <div class="episode_content col">
            <small><%= episode.content %></small>
          </div>
        </div>
      </div>
      <!--最下段-->
      <div class="row my-2">
        <!--いいねボタン-->
        <div class="col">
          <div class="favourite-btn" id="favourite-btn-<%= episode.id %>">
            <%= render 'public/favourites/favourite-btn', episode: episode %>
          </div>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <small class="text-muted"><%= episode.created_at.strftime("%Y/%m/%d")  %></small>
        </div>
      </div>
    </div>
    <!--右ブロック-->
    <div class="col-12 col-lg-2 d-flex flex-row flex-lg-column justify-content-between px-0 mt-2">
      <!--公開対象-->
      <div class="d-flex flex-lg-row">
        <div class="col-12 flex-lg-grow-1 pr-0">
          <%= Episode.visibilities_i18n[episode.visibility] %>
        </div>
      </div>
      <!--編集、削除-->
      <div class=" d-flex flex-lg-row justify-content-end mr-1 my-2">
        <% if user == current_user %>
          <div class="col-3 col-lg-2">
            <%= link_to edit_episode_path(episode), data: { toggle: "tooltip", placement: "top" }, title: "編集" do %>
              <i class="fa-solid fa-file-pen"></i>
            <% end %>
          </div>
          <div class="col-3 col-lg-2 mr-1">
            <div type="button" data-toggle="modal" data-target="#deleteModal">
              <span data-toggle="tooltip" title="top">
               <i class="fa-solid fa-trash-can" style="color: #ea3e3e;"></i>
               </span>
            </div>
            <!--削除用モーダルウィンドウ-->
            <%= render 'public/episodes/modal', episode: episode %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

