<div>
  <%= form_with model: episode, class: 'form' do |f| %>
    <div class="form-group row mt-3 mb-2">
      <div class="col form-row">
        <div class="col">
          <%= f.text_field :title, class: 'form-control rounded-0 border-left-0 border-top-0 border-right-0', placeholder: 'タイトル' %>
        </div>
      </div>
    </div>

    <div class="form-group row mt-3 mb-2">
      <div class="col-12 form-row">
        <div class="col">
          <%= f.text_area :content, class: 'form-control border-0', rows: 15, placeholder: '本文', input_html: { wrap: :virtual } %>
        </div>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-3 col-form-label">カテゴリ</label>
      <div class="col form-row">
        <%#= f.collection_select :parent, Category.parents_i18n, :first, :last, prompt: true, id: 'category_parent_id' %>
        <%#= f.collection_select :category_id, @categories, :id, :name, prompt: true, id: 'category_id' %>
        <%= f.fields_for :category_relations, episode.category_relations do |p| %>
          <%= p.collection_select :category_id, categories, :id, :name, {prompt: '選択してください'}, class: 'form-control col-12 col-md-5' %>
        <% end %>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-3 col-form-label">公開設定</label>
      <div class="col form-row">
        <%= f.select :visibility, Episode.visibilities_i18n.invert, {prompt: '選択してください'}, class: 'form-control col-12 col-md-5' %>
      </div>
    </div>

    <div class="form-group row mt-4">
      <div class="col d-flex justify-content-md-center justify-content-end mx-auto">
        <!--"新規作成"と"編集"で表示を変更-->
        <% button_text = (action_name == 'new' ? '新規登録' : '変更を保存') %>
        <% button_class = (action_name == 'new' ? 'btn btn-outline-primary px-4' : 'btn btn-success px-4') %>
        <%= f.submit button_text, class: button_class %>
      </div>
    </div>
  <% end %>
</div>