<header class="header">
  <nav class="navbar navbar-expand-md navbar-light">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag("episoda_logo.png", alt: "logo", id: "header_logo", class: "logo") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <%# ログイン後 %>
          <li class="nav-item"><%= link_to "お知らせ", notifications_path, class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
              <i class="fa-solid fa-circle-user"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_episode_path, class: "nav-link" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% elsif admin_signed_in? %>
        <!--管理者ログイン後-->
          <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "投稿一覧", admin_episodes_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "グループ一覧", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <%# ログイン前 %>
          <li class="nav-item"><%= link_to "アバウトページ", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
        <% end %>
        <!--検索機能-->
        <% unless admin_signed_in? %>
          <div class="form-inline my-2 justify-content-center ml-1">
            <%= form_with url: admin_signed_in? ? admin_searches_path : searches_path, method: :get do |f| %>
              <div class="row">
                <div class="col pr-0 mt-1">
                  <%= f.text_field :query, placeholder: "Search", class: "form-control"%>
                </div>
                <div class="col pl-1 mt-1">
                  <%= f.submit "検索", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
