<!--お知らせ-->
<li class="nav-link">
  <% if current_user.notifications.unread.exists? %>
    <%= link_to notifications_path, class: "nav-link" do %>
      <i class="fa-regular fa-bell" style="color: #f05656;"></i>
    <% end %>
  <% else %>
    <%= link_to notifications_path, class: "nav-link" do %>
      <i class="fa-regular fa-bell"></i>
    <% end %>
  <% end %>
</li>
<!--マイページ-->
<li class="nav-link">
  <%= link_to user_path(current_user), class: "nav-link" do %>
    <i class="fa-solid fa-circle-user"></i>
  <% end %>
  </li>
  <!--新規投稿-->
  <li class="nav-link">
  <%= link_to new_episode_path, class: "nav-link" do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
</li>
<!--ユーザー情報編集-->
<li class="nav-link">
  <%= link_to edit_user_path(current_user), class: 'nav-link' do %>
    <i class="fa-solid fa-gear"></i>
  <% end %>
</li>
<li class="nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>